*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}

button {
  color: inherit;
  background-color: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: end; 
  gap: 30px;
  width: 100%;
  height: auto;
}

.result {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 16px;
 /* background-color: purple; */
}

.result__video-container {
  min-width: 711px;
}
 
.result__video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label {
  display: flex; 
  width: fit-content;
  /* background-color: bisque; */
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: inherit;
}

.search-form__textfield {
  /* padding: 10px 15px; */
  width: 200px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-inline: none;
  color: inherit;
  background-color: inherit;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* right section */
.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  /* font-weight: bold; */
  text-transform: uppercase;
  /* background-color: orange; */
}

.content__accent {
  color: #545050;
}

.content__list {
  width: auto;
  height: 300px;
  overflow-y: auto;
}

.content__list-item {
  height: 107px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
  /* background-color: red; */
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-thumbnail {
  display: block;
  width: 194px;
  object-fit: contain;
  object-position: right;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  /* font-weight: bold; */
  text-transform: uppercase;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description:not(:first-line) {
  line-height: 0.16;
}

.content__card-link {
  text-decoration: none;
}

.result__video-container, 
.content__list {
  position: relative;
}